body {
  margin: 0;
  font-family: "Lato", Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
}

body:hover {
	cursor: default;
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

a {
	text-decoration: none;
	color: #777777;
}

a:hover {
	cursor: default;
}


.head-banner {
	text-align: center;
	color: #16a085;
	font-size: 50px;
	line-height: 1.5em;
	padding-top: 5%;
}

.message-banner {
	font-family: "Merriweather", Helvetica Neue, Arial, sans-serif;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-bottom: 10%;
	width: 50%;
	font-size: 20px;
	line-height: 1.8em;
	color: #777777;
}

.underline {
	color: #777777; 
	border-bottom: 2px dotted #999999;
}

.underline:hover {
	color: #16a085;
	border-bottom: 2px dotted #16a085;
}